# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Executables
*.exe
Mini Download 5.4.1 full.exe_extracted/

# Other binary or local files
*.dll
payload.bin
Logo.ico
Mini Download 5.5 full.exe_extracted/
Mini_extension.zip
